@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,400;9..144,700&family=Lato:wght@100;400;700&family=Oswald:wght@200;400;700&family=Poppins:wght@100;400;700&display=swap');

.main {
  display: flex;
  flex-direction: column;

  font-family: 'Poppins';
}

.headerContent,
.banner1Content,
.ofertaContent,
.servicosContent,
.tabelaContent,
.contatosContent,
.footerContent,
.tabela2Content {
  margin: 0 auto;
  max-width: 1024px;
}

/* ! Header */
.headerEscuro {
  background-color: rgb(47, 134, 214);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logoText span {
  color: rgb(47, 134, 214);
}
.logoTextEscuro span {
  color: rgb(255, 255, 255);
}
.navigationBar {
  display: flex;
  gap: 10px;
}
.navLinks {
  text-decoration: none;
  text-transform: uppercase;

  font-weight: bold;

  color: rgb(26, 26, 26);
}
.navLinksEscuro {
  text-decoration: none;
  text-transform: uppercase;

  font-weight: bold;

  color: rgb(255, 255, 255);
}

/* !Banner */

.banner1 {
  background-color: rgb(47, 134, 214);
  color: aliceblue;
}
.banner1Content {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
.textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 400px;
}

.foto {
  width: 400px;
  height: auto;
}

/* !Oferta */

.ofertaEscuro {
  background-color: rgb(35, 48, 62);
}
.ofertaClaro {
  background-color: rgb(47, 134, 214);
}
.ofertaContentEscuro {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  background-color: rgb(35, 48, 62);
  color: aliceblue;
}
.ofertaContentClaro {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  background-color: rgb(47, 134, 214);
  color: aliceblue;
}
.botaoEscuro {
  background-color: rgb(47, 134, 214);
  border: 0 solid;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.botaoClaro {
  background-color: rgb(35, 48, 62);
  border: 0 solid;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.botaoEscuro:hover {
  background-color: rgb(47, 134, 214);
  box-shadow: -4px -4px 8px inset rgb(43, 119, 190);
}
.botaoClaro:hover {
  background-color: rgb(35, 48, 62);
  box-shadow: -4px -4px 8px inset rgb(54, 77, 102);
}
.botaoEscuro span {
  text-transform: uppercase;
  font-weight: bold;
  color: aliceblue;
  font-family: 'Poppins';
  text-wrap: nowrap;
}
.botaoClaro span {
  text-transform: uppercase;
  font-weight: bold;
  color: aliceblue;
  font-family: 'Poppins';
  text-wrap: nowrap;
}
.foguete {
  width: 20px;
  height: auto;
}
.linkBotao {
  text-decoration: none;
}
/* !Serviços */

.servicosContent {
  padding: 100px 0;
  text-align: center;
}

.cards {
  display: flex;
  margin-top: 70px;
}

.card .image {
  margin-bottom: 20px;
}
.card .text {
  color: rgb(83, 83, 83);
}

/* !Tabela */
.tabela {
  padding: 70px 0px 100px 0px;
  background-color: rgb(241, 243, 247);
}
.tabelaContent h2 {
  margin: 0 0 70px 0;
  text-align: center;
}
.tabelaContent h2 span {
  color: rgb(47, 134, 214);
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0px 0px 50px rgb(47, 134, 214);
  padding: 50px 0;
}
.table .thead {
  display: flex;
}

.linhaWrap {
  text-wrap: wrap;
  max-width: 120px;
  text-align: center;
  font-size: 11px;
}
.table thead td {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  border-left: 1px solid rgb(246, 246, 246);
  padding: 30px 0;
}
.table thead td:first-of-type {
  border-left: 0px solid rgb(246, 246, 246);
}
.table .tableBody td:first-of-type {
  border-left: 0px solid rgb(246, 246, 246);
}

.table thead th {
  text-align: center;
}

.tableBody td {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  border-left: 1px solid rgb(246, 246, 246);
  border-radius: 0 0 7px 7px;
}
.tableBody td tr {
  width: 25%;
}

/* Estiliza as linhas ímpares */
.tableBody td:nth-child(odd) {
  background-color: rgb(246, 246, 246);
  padding: 15px;
}

/* Estiliza as linhas pares */
.tableBody td:nth-child(even) {
  background-color: #ffffff;
  padding: 15px;
}

/* !Contatos */

.contatos {
  margin: 50px 0;
}

.contatosContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contatosContent .logo {
  margin-bottom: 50px;
}
.contatosContent p {
  line-height: 40px;
}

/* !Footer */

.footer {
  background-color: rgb(241, 243, 247);
}

.footerContent {
  padding: 20px 0;
}

.footerContent h3 {
  text-align: center;
}

.footerContent h3 span {
  color: rgb(47, 134, 214);
}
.footerContent .link {
  text-decoration: none;
}

/* !Tabela2 */


.tabela2Content table {
  width: 100%;
}
.tabela2Content table tbody {
  display: flex;
}
.tabela2Content table tbody td {
  padding: 20px 30px;
  text-align: center;
  width: calc(100%/5);
  text-align: center;
  background-color: rgb(241, 243, 247);
}

.tabela2Content table tbody td tr span {
  font-size: 15px;
  color: rgb(149, 138, 132); 
}
.tabela2Content table tbody td tr h3 {
  font-size: 40px;
}
